html {
  font-family: arial
}

body {
  margin: 0;
  padding: 40px;
}

#map {
  width: 100%;
  height: 400px;
  background: lightgray;
  margin-bottom:  20px;
}

article {
  padding:  20px;
}

.red {
  color:  red;
}

table td img {
  width:  200px;
}